
# using fixed ip addresses
# to see all network use docker network ls
# to see config use docker network inspect minimal-minion-activemq_N000
# note gateway is 172.20.0.1 
networks:
  N020:
    ipam:
      config:
        - subnet: 172.20.0.0/24

volumes:
  #semaphore-mysql: # to use postgres, switch to: semaphore-postgres
  semaphore-postgres:

services:
  # uncomment this section and comment out the mysql section to use postgres instead of mysql
  postgres:
    restart: unless-stopped
    image: postgres:15
    #image: postgres:14
    hostname: postgres
    volumes:
      - semaphore-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: semaphore
      POSTGRES_PASSWORD: semaphore
      POSTGRES_DB: semaphore
    networks:
      N020:
        ipv4_address: 172.20.0.27
  # if you wish to use postgres, comment the mysql service section below
#  mysql:
#    restart: unless-stopped
#    image: mysql:8.0
#    hostname: mysql
#    volumes:
#      - semaphore-mysql:/var/lib/mysql
#    environment:
#      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
#      MYSQL_DATABASE: semaphore
#      MYSQL_USER: semaphore
#      MYSQL_PASSWORD: semaphore

  semaphore:
    restart: unless-stopped
    ports:
      - 3000:3000
    image: semaphoreui/semaphore:v2.16.43
    hostname: semaphore
    volumes:
      - ./container-fs/ansible:/opt/ansible/inventory
    environment:
      SEMAPHORE_DB_USER: semaphore
      SEMAPHORE_DB_PASS: semaphore
      #SEMAPHORE_DB_HOST: mysql # for postgres, change to: postgres
      SEMAPHORE_DB_HOST: postgres # for postgres, change to: postgres
      #SEMAPHORE_DB_PORT: 3306 # change to 5432 for postgres
      SEMAPHORE_DB_PORT: 5432 
      # SEMAPHORE_DB_DIALECT: mysql # for postgres, change to: postgres
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB: semaphore
      # To use SQLite instead of MySQL/Postgres (v2.16+)
      # SEMAPHORE_DB_DIALECT: sqlite
      # SEMAPHORE_DB: "/etc/semaphore/semaphore.sqlite"
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_PASSWORD: changeme
      SEMAPHORE_ADMIN_NAME: admin
      SEMAPHORE_ADMIN_EMAIL: admin@localhost
      SEMAPHORE_ADMIN: admin
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: gs72mPntFATGJs9qK0pQ0rKtfidlexiMjYCH9gWKhTU=
      SEMAPHORE_LDAP_ACTIVATED: 'no' # if you wish to use ldap, set to: 'yes'
      SEMAPHORE_LDAP_HOST: dc01.local.example.com
      SEMAPHORE_LDAP_PORT: '636'
      SEMAPHORE_LDAP_NEEDTLS: 'yes'
      SEMAPHORE_LDAP_DN_BIND: 'uid=bind_user,cn=users,cn=accounts,dc=local,dc=shiftsystems,dc=net'
      SEMAPHORE_LDAP_PASSWORD: 'ldap_bind_account_password'
      SEMAPHORE_LDAP_DN_SEARCH: 'dc=local,dc=example,dc=com'
      SEMAPHORE_LDAP_SEARCH_FILTER: "(\u0026(uid=%s)(memberOf=cn=ipausers,cn=groups,cn=accounts,dc=local,dc=example,dc=com))"
      TZ: UTC
    depends_on:
      #- mysql # for postgres, change to: postgres
      -  postgres
    networks:
      N020:
        ipv4_address: 172.20.0.21
        
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      
  ## test container
  ubuntu1:
    container_name: ubuntu1
    image: ubuntu-local
    build: ./container-fs/ubuntu
    restart: on-failure
    environment:
      ROOT_PASSWORD: semaphore
    networks:
      N020:
        ipv4_address: 172.20.0.22
        
  ## test container
  alma1:
    container_name: alma1
    image: alma10-local
    build: ./container-fs/almalinux
    restart: on-failure
    environment:
      ROOT_PASSWORD: semaphore
    networks:
      N020:
        ipv4_address: 172.20.0.23
      
