---
- name: Load OS specific tasks (RHEL)
  include_tasks: Rhel.yml
  when: ansible_os_family == 'RedHat'

- name: Load OS specific tasks (Debian)
  include_tasks: Debian.yml
  when: ansible_os_family == 'Debian'
