---
- name: Install Bridge Utils
  dnf:
    name: bridge-utils
    state: present

- name: Get default gateway
  shell: "ip route | grep -m 1 'default' | awk '{print $3}'"
  register: default_gateway
  changed_when: false

- name: Get current network interface name
  shell: "ip route | grep -m 1 'default' | awk '{print $5}'"
  register: net_interface
  changed_when: false

- name: Get current network interface connection name
  shell: "nmcli -t -f NAME,DEVICE con | grep -m 1 '{{net_interface.stdout}}' | awk -F\":\" '{print $1}'"
  register: net_interface_connection
  changed_when: false
  
- name: Get current private interface name
  shell: "ip route | grep -m 1 '{{management_server_ip}}' | awk '{print $3}'"
  register: net_private
  changed_when: false
  
- name: Get current private interface connection name
  shell: "nmcli -t -f NAME,DEVICE con | grep -m 1 '{{net_private.stdout}}' | awk -F\":\" '{print $1}'"
  register: net_private_connection
  changed_when: false
  
- name: echo network interface names
  debug:
    msg: "Network Interfaces: default_gateway '{{ default_gateway.stdout }}' net_interface '{{ net_interface.stdout }}' net_interface_connection '{{ net_interface_connection.stdout }}'  net_private '{{ net_private.stdout }}' net_private_connection '{{ net_private_connection.stdout }}' management_server_ip '{{ management_server_ip }}'"

- name: Check if cloudbr0 already exists
  command: nmcli connection show cloudbr0
  register: cloudbr0_exists
  ignore_errors: yes
  changed_when: false

- name: Check if bridge slave exists
  shell: "nmcli -t -f NAME,TYPE con show | grep ':bridge-slave$' | grep '{{ net_private.stdout }}'"
  register: bridge_slave_exists
  ignore_errors: yes
  changed_when: false

- name: Create cloudbr0 bridge (if not exists)
  command: nmcli connection add type bridge autoconnect yes con-name cloudbr0 ifname cloudbr0
  when: cloudbr0_exists.rc != 0

- name: Add interface to bridge (slave)
  command: nmcli connection add type bridge-slave autoconnect yes con-name bridge-slave-{{ net_private.stdout }} ifname {{ net_private.stdout }} master cloudbr0
  when: cloudbr0_exists.rc != 0

- name: Configure cloudbr0 with static IP
  command: >
    nmcli connection modify cloudbr0
    ipv4.addresses '{{ management_server_ip }}/24'
    ipv4.dns '{{ dns1 }} {{ dns2 }}'
    ipv4.method manual
  when: cloudbr0_exists.rc != 0

- name: Bring down old interface connection
  command: nmcli connection down {{ net_private_connection.stdout }}
  when: cloudbr0_exists.rc != 0
  ignore_errors: yes

- name: Bring up cloudbr0
  command: nmcli connection up cloudbr0
