#Please don't change this file by hand
@1340979
dhcp_static_lease3=;192.168.105.100;00:15:60:7b:00:40;1;60
device_remark_list10=00:25:90:3d:0f:bb blade-1-8-eth1
wl_radius_port=1812
wl0.1_radius_port=
dhcp_static_lease4=;192.168.105.108;00:25:90:58:03:30;1;60
device_remark_list11=00:15:60:7b:00:40 procurve3400cl-1
HW_WLAN0_TX_POWER_DIFF_HT40_2S=eeeeeeeeeeeeeeeeeeeeeeeeeeee
device_remark_list12=00:25:90:54:6d:5f blade-1-2-ipmi
dhcp_static_lease5=;192.168.105.107;00:25:90:54:6d:32;1;60
dhcp_static_lease6=;192.168.105.106;00:25:90:58:03:8f;1;60
device_remark_list13=
wl0_rxchain_pwrsave_stas_assoc_check=0
antswctl2g=0x1
wl0_wmf_bss_enable=0
dhcp_static_lease7=;192.168.105.105;00:25:90:54:6d:59;1;60
device_remark_list14=
wl0_mcast_regen_bss_enable=1
wan0_primary=1
extend_pass=minad1234
wl0_rifs_advert=auto
forward_port10=
dhcp_static_lease8=;192.168.105.103;00:25:90:58:03:33;1;60
device_remark_list15=
wl_txstreams=0
wl0_frameburst=off
forward_port11=
dhcp_static_lease9=;192.168.105.102;00:25:90:54:6d:5f;1;60
dhcp_wan0_mtu=1500
device_remark_list16=
wl_rxchain_pwrsave_pps=10
forward_port12=
device_remark_list17=
log_ipaddr=
wan0_ipaddr=192.168.5.2
forward_port13=
device_remark_list18=
wan0_proto=static
filter_mac_loc=0
forward_port14=
br0_ifnames=eth0 wlan0
device_remark_list19=
forward_port15=
remark_0=
wl_nctrlsb=lower
remark_1=
wl0.1_wps_pin=
HW_WLAN0_REG_DOMAIN=3
country_power=normal
remark_2=
never_prompt_wlpwd=0
et0macaddr=B8:3A:08:43:D6:10
remark_3=
ddns_enable=0
remark_4=
wl0_aporwds=0
remark_5=
rltk_wlan_control_sideband=1
wl_maxassoc=128
remark_6=
wl0_radarthrs=0 0x6a8 0x6c8 0x6ac 0x6c7
wl0_akm=psk psk2
remark_7=
watchdog=45000
boot_wait=off
c8021x_en=
wan1_pppoe_ifname=ppp2
static_wan0_mtu=1500
remark_8=
lan_br=bridge0
wan0_l2tp_username=
wl_rxchain_pwrsave_stas_assoc_check=0
wps_modelname=Tenda
remark_9=
wl0_infra=1
et0mdcport=0
fw_disable=0
wl0_country_code=ALL
qosList30=
wan0_static_dns=194.81.151.70 
qosList31=
qosList32=
wl0_wps_method=pbc
wl_infra=1
wl0.2_wpa_psk=12345678
qosList33=
qosList34=
reset_gpio=20
qosList35=
wl_stbc_tx=auto
qosList36=
filter_url_mode=disable
wl0_bcn_rotate=1
qosList37=
restore_defaults=0
qosList38=
vlan2ports=0 5*
wan0_ifname=eth1
qosList39=
rltk_wlan_preamble=0
wl0.1_key=
device_remark_list20=
wan0_pptp_demand=0
wl_old_ssid=Tenda
wl0_nctrlsb=lower
wl0_wme_sta_be=15 1023 3 0 0 off off
wl_wme_apsd=off
wl0_version=5.100.138.21
wl_radius_ipaddr=
wl0.2_ssid=Tenda_Extender
rm_web_port=80
http_wanport=
lan_gateway=192.168.0.1
wl0_ifname=eth1
config_index=1
lan_domain=
tc_loc=0
timer_interval=3600
wl0_wme_sta_bk=15 1023 7 0 0 off off
rltk_wlan_block_relay=0
alilink_wlan_ontime_list1=UTC+08:00
parentCtl_urlFilter_mode=disable
wl0_rxchain_pwrsave_quiet_time=1800
lan1_ipaddr=192.168.2.1
wl_net_reauth=36000
forward_port0=All-All>192.168.105.118:3398-3398,tcp/udp,on
wl0_rxstreams=0
forward_port1=All-All>192.168.105.118:22-22,tcp/udp,on
wl0.1_wmf_bss_enable=0
forward_port2=
gpio6=sys_led
forward_port3=
wl0_radio_pwrsave_level=0
gpio7=wps_led
lan_route=
forward_port4=
HW_BOARD_VER=1
wps_device_pin=18933819
wl0_mrate=0
forward_port5=
HW_WLAN0_TX_POWER_DIFF_HT20=0000000000000000000000000000
wl0_mode=ap
forward_port6=
dhcp_start=192.168.105.100
hacker_att=1
forward_port7=
rltk_wlan_macclone_enable=0
wl0_stbc_tx=auto
forward_port8=
lan1_route=
wl0_ap_isolate=0
forward_port9=
wl_mrate=0
dhcp_end=192.168.105.246
wl0_rxchain_pwrsave_pps=10
wl_msglevel=0x1
pppoe_index=0
wl_akm=psk psk2
wl_wmf_bss_enable=0
te_version=en
wl0_gmode=1
wl0_ampdu=auto
wl0_wme_no_ack=off
boardtype=0x058e
wl_obss_coex=1
wl_wme_bss_disable=0
is_default=1
wl_ampdu_rr_rtylimit_tid=2 2 2 2 2 2 2 2
wl_ampdu=auto
wl_gmode=1
ThroughputTestFlag=20240510131844050
wl0_nband=2
wl0_wifictl_time_interval=82800,86400;0,25200
stats_server=
wl0_nreqd=0
lan_netmask=255.255.255.0
wl0.1_crypto=
wl_nband=2
lan1_ifname=br1
wl0_wme_txp_be=7 3 4 2 0
wl_wme_sta_vi=7 15 2 6016 3008 off off
remark_loc=0
qosList0=
lan1_hwnames=
http_username=admin
wl0_ssid=Tenda_43D610
wl0_dtim=3
qosList1=
wan0_macclone_mode=default
wl_wme_ap_be=15 63 1 8192 8192 off off
wl_nreqd=0
qosList2=
wan0_pppoe_ifname=ppp0
qosList3=
os_date=Jan 13 2016
wl0_dfs_preism=60
qosList4=
boardpwrctl=0xb00
qosList5=
http_lanport=80
wps_random_ssid_prefix=Tenda
wl0_wme_txp_bk=7 3 4 2 0
wl_wme_sta_vo=3 7 2 3264 1504 off off
wl_plcphdr=long
qosList6=
wl_mimo_preamble=auto
wl_macmode=deny
qosList7=
filter_mac_num=0
lan1_wins=
fw_info=V5.110.27.21
wl_wme_ap_bk=15 1023 7 0 0 off off
qosList8=
wan_domain=www.tendawifi.com
wl_phytype=n
qosList9=
lan_lease=86400
wl0_key1=ASCII
wl_lazywds=0
wan0_hostname=Tenda
wl0_vlan_prio_mode=off
wl0_key2=ASCII
wl_dfs_postism=60
tnvt2sn_n0ndnn_nr=
wl0_key3=ASCII
wl_mcast_regen_bss_enable=1
wl0.1_maclist=
wl0_key4=ASCII
filter_client0=
parentCtl_client_list1=
lan1_lease=86400
wan0_l2tp_gateway=0.0.0.0
filter_client1=
tftp_server_en=false
wl_auth_mode=none
parentCtl_client_list2=
filter_client2=
wl0_vifs=
parentCtl_client_list3=
filter_client3=
parentCtl_client_list4=
filter_client4=
parentCtl_client_list5=
vlan2hwname=et0
filter_client5=
filter_mac_mode=deny
parentCtl_client_list6=
filter_client6=
wan0_check=0
wl_wpa_psk=minad1234
http_passwd=YWRtaW4=
parentCtl_client_list7=
wl0_ctv_power=high
wl0_rxchain_pwrsave_enable=1
filter_client7=
wl0_hw_rxchain=3
wl0_bridge=
parentCtl_client_list8=
filter_client8=
parentCtl_client_list9=
lan_stp=1
nat_type=sym
filter_client9=
wan0_pptp_idletime=60
tc_stream_stat_en=0
wl0_wme_ap_vi=7 15 1 6016 3008 off off
wl_mode=ap
wl0_time_week=01111100
wl0.1_radius_key=
wl0_bss_maxassoc=128
wan0_pppoe_passwd=123
wl0_closed=0
wl0_tpc_db=
wl0_rate=0
wl0_plcphdr=long
wl_wpa_gtk_rekey=0
xtalfreq=20000
wps_version2=enabled
wl0_macmode=deny
lan_dhcp=0
tc_0=
wl0_wme_ap_vo=3 7 1 3264 1504 off off
wl_wme_txp_vi=7
tc_1=
wl0_phytype=n
tc_2=
wl0_lazywds=0
c8021x_user=
tc_3=
HW_WLAN0_LED_TYPE=7
btn2_status=WIFI_SWITCH
tc_4=
rm_web_en=1
boardflags2=0x1000
wan0_pppoe_keepalive=1
tc_5=
wps_proc_status=0
tc_6=
wl_wme_txp_vo=7 3 4 2 0
http_defaultpwd1=1
tc_7=
wl0_afterburner=off
wl_wds_timeout=0
tc_num=0
tc_8=
wl0_antdiv=-1
wl_wps_mode=enabled
HW_WLAN0_11N_THER=1f
tc_9=
wl0.1_auth_mode=
wl0.2_radio=0
HW_WLAN0_TX_POWER_HT40_1S_A=2b2b2b2b2b2b2b2b2b2c2c2c2c2c
HW_WLAN0_TX_POWER_HT40_1S_B=6969692929292929292929292929
wan0_l2tp_netmask=0.0.0.0
wl0.1_akm=
wan0_pppoe_ac=
wl_dtim=3
wl_ssid=Tenda_43D610
tc_10=
dmz_ipaddr_en=0
tc_11=
remark_10=
http_passwd_tip=
wl_radarthrs=0 0x6a8 0x6c8 0x6ac 0x6c7
lan_wps_oob=enabled
wl0.1_ifname=
wl0_wpa_psk=minad1234
tc_12=
remark_11=
wait_time=20
wan0_bind_proto=static
tc_13=
remark_12=
rltk_wlan_wmm_enable=1
tc_14=
reboot_max_rx_bytes=3000
remark_13=
wan0_pptp_username=
wl0_amsdu=auto
tc_15=
remark_14=
rltk_wlan_ack_timeout=0
tc_16=
remark_15=
dhcp_wins=wan
tc_17=
remark_16=
os_server=
wan0_pppoe_prio_xkjs=0
tc_18=
remark_17=
wl_key1=ASCII
wl_amsdu=auto
tc_19=
remark_18=
rltk_wlan_protection_disable=1
lan_wps_reg=enabled
wl_key2=ASCII
remark_19=
wl_key3=ASCII
parentCtl_client_list10=
wan0_pppoe_mru=1480
wl0_unit=0
wl_key4=ASCII
wl_country_code=ALL
FinishTestFlag=20240510131910542
HW_WLAN0_TX_POWER_CCK_A=2929292a2a2a2a2a2a2a2a2a2a2a
wan0_mtu=1500
HW_WLAN0_TX_POWER_CCK_B=2828282828282828282828282828
wl_rxchain=3
wan0_l2tp_static=0
HW_WLAN0_11N_TRSWPAPE_C9=0
wan0_tmp_pppoe_username=
wl0_net_reauth=36000
wl0_bss_enabled=1
wl_vlan_prio_mode=off
default_ssid=Tenda_43D610
lan1_stp=1
wan0_l2tp_ipaddr=0.0.0.0
wps_timeout_enable=0
wl0_nmode=-1
rltk_wisp_wlan_id=0
tc_isp_downrate=1024
wl_rifs_advert=auto
remark_num=0
wps_restart=0
wl_nmode=-1
never_prompt_pppoe=0
auto_clone_flag=yes
ecos_name=ecos
lan1_gateway=192.168.2.1
rltk_wlan_network_type=0
HW_WLAN0_11N_TRSWPAPE_CC=0
serial_number=E6333017419000273
wl_rxstreams=0
wl_wps_reg=enabled
wl0_wds=
wl_rate=0
log_level=0
wan0_gateway=192.168.5.1
ntp_server=120.25.108.11 108.59.2.24 212.47.249.141 129.6.15.28 129.6.15.29 18.145.0.30
wl0_reg_mode=off
RFTestFlag=20240510105305459
wps_mfstring=Tenda
wl0.1_wps_method=
wan_mode_check_verdict=
filter_url10=
filter_mac10=
filter_url11=
rltk_wlan_tx_beamforming=0
lan_ifnames=eth0 wlan0
lan_dns=194.81.151.70
filter_mac11=
wl_wps_pin=
country_code=US
filter_url12=
wan0_l2tp_server_name=
filter_mac12=
filter_url13=
wl0_wifictl_enable=0
wl0_wme=on
wl0_auth=0
wl0_radius_port=1812
filter_mac13=
HW_WLAN0_TX_POWER_DIFF_OFDM=1111111111111111111111111111
filter_url14=
wl_rxchain_pwrsave_quiet_time=1800
wl_ctv_pwr_percent=100
filter_mac14=
filter_url15=
wl0_wme_bss_disable=0
wl0_rxchain=3
wl0_radius_ipaddr=
device_remark_num=12
filter_mac15=
wl_radio_pwrsave_pps=10
filter_mac16=
ure_disable=1
wl0_wme_sta_vi=7 15 2 6016 3008 off off
filter_mac17=
wan0_l2tp_ifname=ppp0
filter_mac18=
country_pwr_power=100
filter_mac19=
wan0_l2tp_dns=
rltk_wlan_ldpc_enable=1
wan0_pptp_keepalive=1
wan_ifnames=eth1
device_remark_list1=2c:cf:67:88:69:54 pi
wl_crypto=aes
wl_rateset=12
wan0_domain=
wl0_wme_sta_vo=3 7 2 3264 1504 off off
device_remark_list2=00:25:90:58:03:30 blade-1-8-ipmi
dhcp_static_list=192.168.105.118	00:25:90:3D:0F:BB	blade-1-8-eth1	
192.168.105.104	00:25:90:58:03:43	blade-1-4-ipmi	
192.168.105.245	2C:CF:67:88:69:54	pi	
192.168.105.100	00:15:60:7B:00:40	procurve3400cl-1	
192.168.105.108	00:25:90:58:03:30	blade-1-8-ipmi	
192.168.105.107	00:25:90:54:6D:32	blade-1-7-ipmi	
192.168.105.106	00:25:90:58:03:8F	blade-1-6-ipmi	
192.168.105.105	00:25:90:54:6D:59	blade-1-5-ipmi	
192.168.105.103	00:25:90:58:03:33	blade-1-3-ipmi	
192.168.105.102	00:25:90:54:6D:5F	blade-1-2-ipmi	
192.168.105.101	00:25:90:58:03:4F	blade-1-1-ipmi	
rltk_wlan_sta_num=0
ping_dis_wan=0
device_remark_list3=00:25:90:54:6d:32 blade-1-7-ipmi
clnway=1
wan0_pptp_dns=
wl_time_interval=00:00-07:00
device_remark_list4=00:25:90:58:03:8f blade-1-6-ipmi
wl0_wps_reg=enabled
device_remark_list5=00:25:90:54:6d:59 blade-1-5-ipmi
sta_isolate=0
wl0.1_mode=
device_remark_list6=00:25:90:58:03:43 blade-1-4-ipmi
offset_power=0
wl_radius_key=
clkfreq=300,150,75
lan_proto=dhcp
os_name=linux
lan_ipaddr=192.168.105.1
wan0_proto_index=static
device_remark_list7=00:25:90:58:03:33 blade-1-3-ipmi
vlan1hwname=et0
lan1_netmask=255.255.255.0
wl_rxchain_pwrsave_enable=1
wl0_maxassoc=128
device_remark_list8=00:25:90:58:6d:5f blade-1-2-ipmi
device_remark_list9=00:25:90:58:03:4f blade-1-1-ipmi
wl_unit=0
wan0_route=
wl0_phytypes=n
wan0_pppoe_demand=0
wl_nmode_protection=
router_disable=0
lan1_proto=dhcp
wps_sta_pin=00000000
wl0_frag=2346
wl0_wep=disabled
wl0.1_closed=
wl0_wps_pin=
wan0_netmask=255.255.255.0
wl_radio_pwrsave_enable=0
wl0.1_ap_isolate=
HW_WLAN0_11N_TSSI1=0
parentCtl_time=19:00-21:00
HW_WLAN0_11N_TSSI2=0
sdram_config=0x103
wan0_pptp_gateway=0.0.0.0
wl0_rifs=auto
wl_radio_pwrsave_stas_assoc_check=0
wan0_wins=
wan0_pppoe_st=0
dmz_ipaddr=
wl_wds=
wan0_l2tp_passwd=
wl0.1_radius_ipaddr=
HW_WLAN0_RF_TYPE=A
time_mode=0
wl_wifictl_day_round=1111111
wl0_ampdu_rr_rtylimit_tid=2 2 2 2 2 2 2 2
wl0_old_ssid=Tenda
wl0.1_ssid=
wl0_rateset=12
wl0_ure=0
os_language=en
wan0_pptp_static=0
wan0_l2tp_keepalive=1
wl0_wme_apsd=off
parentCtl_urlFilter_list=
wl_ctv_power=high
wl0_wme_txp_vi=7
wl_wme=on
wl0_txstreams=0
wan0_connect=Disconnected
wan0_pptp_ipaddr=0.0.0.0
wl0.1_radio=
wl_wme_ap_vi=7 15 1 6016 3008 off off
lan_ifname=eth0
wan_primary=1
wl_time_week=01111100
country_offset_power=12,6,0
pingwan_enable=1
pppoe_wan0_mtu=1480
wl0_mimo_preamble=auto
sdram_refresh=0x0000
wan0_pptp_server_name=
wandevs=eth1
wan0_pppoe_mtu=1480
dhcp_domain=wan
wl0.1_key1=
wl0_wme_txp_vo=7 3 4 2 0
wl_auth=0
filter_client_cur_nu=1
wl0.1_bss_maxassoc=
wl0.1_key2=
filter_client_mode=disable
wl0.1_key3=
wl_wme_ap_vo=3 7 1 3264 1504 off off
lan1_domain=
wl0.1_key4=
wan0_l2tp_mru=1452
wl_frameburst=off
wl_bss_maxassoc=128
rltk_wlan_stbc_enable=1
ezc_enable=1
wl0_radio_pwrsave_stas_assoc_check=0
wl0_radio_pwrsave_pps=10
wl0_nmode_protection=
wl_wifictl_enable=0
is_modified=0
reboot_time=3:00-5:00
wan0_pptp_mru=1452
HW_WLAN0_11N_TRSWITCH=0
wan0_pptp_netmask=0.0.0.0
tc_isp_uprate=1024
wl0_rts=2347
BOARD_NAME=F3_V2.0
lan1_dhcp=0
wl_ifname=
wl_wep=disabled
wl_nbw_cap=1
wl_ampdu_rtylimit_tid=5 5 5 5 5 5 5 5
wl0_hw_txchain=3
reboot_max_tx_bytes=3000
wan_speed=0
os_version=5.110.27.21
mode_need_switch=no
wl_gmode_protection=auto
wan0_pptp_ifname=ppp0
lan1_wps_oob=enabled
wl0_wpa_gtk_rekey=0
alilink_wlan_offtime_list1=UTC+08:00
wl0_sta_retry_time=5
wl_frag=2346
wan0_desc=Default Connection
wl0_key=1
forward_port_list=192.168.105.118;3398;3398;both~192.168.105.118;22;22;both
wl0.1_macmode=deny
wl_wps_method=pbc
wl_wifictl_time_interval=82800,86400;0,25200
rltk_wlan_short_gi=1
wl_maclist=
wl_rifs=auto
et0phyaddr=30
console_loglevel=1
wl_bcn_rotate=1
wl_ure=0
wps_aplockdown_cap=1
lan1_wps_reg=enabled
time_zone=23
wl_wps_config_state=0
wan0_pppoe_idletime=60
wan0_pppoe_service=
wl_wme_sta_be=15 1023 3 0 0 off off
err_check=0
wl0_wifictl_day_round=1111111
wl_radioids=
wan0_hwaddr=B8:3A:08:43:D6:10
landevs=eth0 wlan0
plugplay_flag=n
wl0_dfs_postism=60
wl_nmcsidx=-1
wl_corerev=
wl0_radio=1
wl0.1_wpa_psk=
wl0_nbw_cap=1
wl_channel=3
wl_wme_sta_bk=15 1023 7 0 0 off off
qosList10=
wps_mode=enabled
wl0_bcn=100
parentCtl_client_num=0
wl_afterburner=off
wl_radio=1
wl0_hwaddr=B8:3A:08:43:D6:10
reboot_enable=enable
qosList12=
qosList13=
rltk_wlan_wpa_group_rekey_time=86400
wan0_pptp_passwd=
wps_wer_mode=allow
qosList14=
wl0_ampdu_rtylimit_tid=5 5 5 5 5 5 5 5
qosList15=
nvram_changed=0
wl0.1_unit=
ezc_version=2
parentCtl_date=00000110
qosList16=
wl0_gmode_protection=auto
wl0_maclist=
qosList17=
wl0_ctv_pwr_percent=100
rm_web_ip=0.0.0.0
wl0.1_wpa_gtk_rekey=
qosList18=
wan0_pptp_mppe_en=1
wl_radio_pwrsave_quiet_time=1800
wl0_obss_coex=1
wl_rts=2347
qosList19=
sdram_init=0x0000
ddns_set1=
HW_WLAN0_11N_XCAP=17
filter_mac_cur_nu=0
wl_ap_isolate=0
lan_wins=
ht_bw_fake_auto=1
restart_time=3:00-5:00
lan_hwnames=
wps_modelnum=123456
restore_quick_set=0
wl_txchain=3
gpio20=wps_button
wl_wme_no_ack=off
c8021x_pswd=
filter_url_cur_nu=1
wan0_unit=0
wan0_pppoe_username=123
alilink_wlan_sche_listnum=0
wl0_wps_config_state=1
wl0_radius_key=
wl0_wme_ap_be=15 63 1 8192 8192 off off
wan0_host=
wan0_ifnames=eth1
wl0_corerev=28
wl0_nmcsidx=-1
wl_key=1
wan0_l2tp_demand=0
reboot_type=1
lan0_pppoe_ifname=ppp1
wl0_channel=3
wl0.1_sta_retry_time=5
wps_device_name=Tenda
wl0.1_infra=
wl0_wds_timeout=0
wl0.1_bss_enabled=
wl_bridge=
wl_bss_enabled=1
upnp_enable=1
wl0_wme_ap_bk=15 1023 7 0 0 off off
wl0_wps_mode=enabled
wl_wme_txp_be=7 3 4 2 0
wps_config_method=0x284
wan0_tmp_pppoe_passwd=
dhcp_static_lease10=;192.168.105.101;00:25:90:58:03:4f;1;60
filter_url0=
filter_mac0=
dhcp_static_lease11=
wl_dfs_preism=60
wl0_radio_pwrsave_quiet_time=1800
wan0_pppoe_et=0
wan0_l2tp_mtu=1452
filter_url1=
wl0.1_auth=
filter_mac1=
dhcp_static_lease12=
wl_sta_retry_time=5
filter_url2=
wl0.1_wep=
filter_mac2=
dhcp_static_lease13=
wl_wme_txp_bk=7 3 4 2 0
wl_closed=0
rltk_wlan_iapp_disable=0
wan0_dns_fix=0
filter_url3=
wl0_auth_mode=none
filter_mac3=
dhcp_static_lease14=
wl_tpc_db=
qosList20=
wl0_radio_pwrsave_enable=0
filter_url4=
filter_mac4=
dhcp_static_lease15=
qosList21=
filter_url5=
tc_enable=1
autofw_port0=
filter_mac5=
dhcp_static_lease16=
qosList22=
boardnum=396
wan0_pptp_mtu=1452
filter_url6=
wl0_crypto=aes
filter_mac6=
dhcp_static_lease17=
qosList23=
rltk_wlan_aggregation=1
filter_url7=
wl_aporwds=0
wl0_txchain=3
filter_mac7=
dhcp_static_lease18=
wl_bcn=100
qosList24=
filter_url8=
http_defaultpwd=
filter_mac8=
dhcp_static_lease19=
wl_reg_mode=off
td_adaptivity_mode=1
qosList25=
filter_url9=
wan0_l2tp_idletime=60
filter_mac9=
qosList26=
dhcp_static_lease0=;192.168.105.118;00:25:90:3d:0f:bb;1;60
qosList27=
dhcp_static_lease1=;192.168.105.104;00:25:90:58:03:43;1;60
qosList28=
dhcp_static_lease2=;192.168.105.245;2c:cf:67:88:69:54;1;60
wl_antdiv=-1
wl0_time_interval=00:00-07:00
qosList29=
wl_radio_pwrsave_level=0
