# see https://stackoverflow.com/questions/54991392/using-ansible-vault-for-ansibles-ssh-keyfile

- hosts: all
  # Postpone facts gathering until SSH keys have been unlocked
  gather_facts: no

  pre_tasks:
  
#    - name: remove ssh-agent
#      command: ssh-agent -k
#      delegate_to: 127.0.0.1
#      become: no
#      changed_when: no
#      ignore_errors: yes
#      
#    - name: set up ssh-agent
#      command: "eval $(ssh-agent -s)"
#      delegate_to: 127.0.0.1
#      become: no
#      changed_when: no
      
    - name: Unlock SSH key "{{ ssh_key_file }}"
      shell: echo "$(sudo cat /home/ansible/.ssh/id_rsa)" | ssh-add -
      #expect:
      #  command: ssh-add "{{ ssh_key_file }}"
      #  responses:
      #    passphrase: "{{ ssh_key_pass }}"
      delegate_to: 127.0.0.1
      become: no
      changed_when: no
      no_log: false
      register: sshkeys1
      
    - name: print key variables
      shell: ssh-add -l
      #expect:
      #  command: ssh-add "{{ ssh_key_file }}"
      #  responses:
      #    passphrase: "{{ ssh_key_pass }}"
      delegate_to: 127.0.0.1
      become: no
      changed_when: no
      no_log: false
      register: sshkeys2
      
    - name: Debug output
      debug:
         msg: "sshkeys1 '{{ sshkeys1.stdout }}'  sshkeys2 '{{ sshkeys2.stdout }}'"

    - name: Gathering facts
      setup:

  tasks:
     - name: another debug
       debug:
          msg: "Agent Role Started. OS Family: {{ ansible_os_family }}"

  post_tasks:
    # Optional, to remove the keys from the agent at the end:
    - name: Lock SSH key "{{ ssh_key_file }}"
      command: ssh-add -D
      delegate_to: 127.0.0.1
      become: no
      changed_when: no
