---
- name: load ssh
  hosts: web
  # Postpone facts gathering until SSH keys have been unlocked
  gather_facts: no
  become: yes
  
  pre_tasks:
  
#    - name: remove ssh-agent
#      command: ssh-agent -k
#      delegate_to: 127.0.0.1
#      become: no
#      changed_when: no
#      ignore_errors: yes
#      
#    - name: set up ssh-agent
#      command: "eval $(ssh-agent -s)"
#      delegate_to: 127.0.0.1
#      become: no
#      changed_when: no
      
    - name: Unlock SSH key "{{ ssh_key_file }}"
      # shell: echo "$(sudo cat {{ ssh_key_file }})" | ssh-add -
      shell: echo "$(sudo cat /home/ansible/.ssh/id_rsa)" | SSH_ASKPASS_REQUIRE=force  SSH_ASKPASS=/share/ssh-pass.sh ssh-add -
      #async: 20
      #poll: 5
      #expect:
      #  command: ssh-add "{{ ssh_key_file }}"
      #  responses:
      #    passphrase: "{{ ssh_key_pass }}"
      delegate_to: 127.0.0.1
      become: no
      changed_when: no
      no_log: false
      
    - name: print key variables
      shell: ssh-add -l
      delegate_to: 127.0.0.1
      become: no
      changed_when: no
      no_log: false
      register: ssh_agent_keys
      
    - name: Debug output
      debug:
         msg: "ssh agent keys '{{ ssh_agent_keys.stdout }}'"

    - name: Gathering facts
      setup:

  roles:
    - load-ssh-keys
    
  post_tasks:
    # Optional, to remove the keys from the agent at the end:
    - name: Remove ssh keys
      command: ssh-add -D
      delegate_to: 127.0.0.1
      become: no
      changed_when: no
